{% extends "base.html" %}
{% block extra_head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}js/dist/css/selectize.bootstrap2.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}js/dist/css/selectize.bootstrap3.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}js/dist/css/selectize.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}js/dist/css/selectize.default.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}js/dist/css/selectize.legacy.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}js/dist/css/jquery.datetimepicker.css" />
	<style>
		#and_or {
			margin-top: 45px;*/
			/*text-indent: 15px; */
			color: #333;
			font-size: 15px;
			opacity: 0.5; 
			font-family: Serif;;
		}
	</style>
{% endblock %}

{% block content %}


{% if message_id %}
	<form action="/message/{{ message_id }}/" method="post">
{% else %}
	<form action="/message/compose/" method="post">
{% endif %}

{% csrf_token %}
	<div class = "row">
		<div class = "small-5 column">
			<label>{{ form.user_receivers.label }}:
			{{ form.user_receivers }}
			</label>
		</div>
		<div class = "small-1 column">
			<p id="and_or">AND|OR</p>
		</div>

		<div class = "small-5 column">
			<label>{{ form.group_receivers.label }}:
			{{ form.group_receivers }}
			</label>
		</div>
	</div>
	<br/>
	<div class = "row">
		<div class = "small-12 column">
			<label>{{ form.message.label }}:
			<p>{{ form.message.errors }}</p>
			{{ form.message }}
			</label>
		</div>
	</div>
	
	<div class = "row">
		<div class = "small-2 column">
			<label>{{ form.schedule.label }}:</label>
			{{ form.schedule }}
		</div>
	</div>
	<div class="row">
		<div class="small-3 column">
			<label data-bind="visible:tog">{{ form.scheduled_time.label }}:</label>
		</div>
		<div class="small-9 column">
			<p>{{ form.scheduled_time.errors }}</p>
			<p data-bind="visible:tog">{{ form.scheduled_time }}</p>
		</div>

		</div>
			</div>
		</div>
	<div class = "row">
		<div class = "small-12 column">
			<input id="submit" type="submit" value="Save" data-bind="value: change_button_value, enable: u_r().length > 0 || g_r().length > 0"  >
		</div>
		
	</div>
</form>
{% endblock %}

{% block extra_script %}

{% if data_json %}
<script type="text/javascript">
    e_msg = {{ data_json|safe }};
    
</script>
{% endif %}

<script type="text/javascript" src="{{ STATIC_URL }}js/dist/js/standalone/selectize.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dist/js/standalone/selectize.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dist/jquery.datetimepicker.js"></script>

<script type="text/javascript">
ko.bindingHandlers.customSelectize = {
	init: function(element, valueAccessor, allBindings){
				var $select = $(element).selectize({
					plugins: ['remove_button']
				});
				var selectizeControl = $select[0].selectize;

				selectizeControl.on('change', function() {
      				var test = selectizeControl.getValue();
      				var value = valueAccessor();
      				value(test);
					});
	},
	update: function(element, valueAccessor, allbinding){
				var value = valueAccessor();
				var valueUnWrapped = ko.unwrap(value);
				var $select = $(element).selectize({
 				plugins: ['remove_button']
				});
				var selectize = $select[0].selectize;
				for (i=0;i<valueUnWrapped.length;i++){
					selectize.addItem(valueUnWrapped[i]);
					};
	},
};

</script>

<script type="text/javascript">
	$('#id_scheduled_time').datetimepicker({
 		format:'m/d/Y H:i:s',
 		minDate:'-2/01/1970',
	});
	
	$('#id_date').datetimepicker({
		timepicker:false,
 		format:'m/d/Y',
 		minDate:'-2/01/1970',

	});

	$('#id_scheduled_time_1').datetimepicker({
		datepicker:false,
		format:'H:i',
		minTime: 0
	});
	
	Toggle = function(){
		var self = this;
		self.tog = ko.observable(false);
		self.change_button_value = ko.observable('Submit')
		self.get_u_r = function(){
			if (typeof e_msg === 'undefined') {
				var data = null;
                return data;
			}
			else {
				obj = e_msg;
				// alert(obj.user_receiver);
				return obj.user_receiver;
			};

		};
		self.get_g_r = function(){
			if (typeof e_msg === 'undefined') {
				var data =  null;
                return data;
			}
			else {
				obj = e_msg;
				return obj.group_receiver;
			};

		 };

		 var q = self.get_u_r();
		 var r = self.get_g_r();

		self.u_r = ko.observableArray(q);
		self.g_r = ko.observableArray(r);
		
		self.submit_save = function(data,event){
			if(self.tog()==true){
				self.change_button_value('Save');
				console.log(event.target.checked); // log out the current state
       			console.log("1");
       			return true;
			} else {
				self.change_button_value('Submit');
				console.log(event.target.checked); // log out the current state
       			console.log("1");
       			return true; 
			};
		};
	};

	toggle = new Toggle();
	ko.applyBindings(toggle);

</script>
{% endblock %}