{% block head %}
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/foundation.min.css"/>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/normalize.css"/>
		{% block extra_head %}{% endblock %}
	</head>
	<body>
		{% endblock %}
		<ul class="breadcrumbs">
			<!-- <li><a href="/message/">Home</a></li> -->
			<li><a href="/message/compose/">Compose</a></li>
			<li><a href="/message/send/">Send</a></li>
			<li><a href="/message/inbox/">Inbox</a></li>
			<li><a href="/message/outbox/">Outbox</a></li>
		</ul>
		{% block content %}
		{% endblock %}
		
		{% block script %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/knockout.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
			{% block extra_script %}{% endblock %}
		{% endblock %}
		
{% block foot %}
	</body>
</html>
{% endblock %}	