{% block head %}
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/foundation.min.css"/>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/normalize.css"/>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/knockout-3.2.0.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.serializejson.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.serializejson.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/knockout.mapping-latest.debug.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/knockout.mapping-latest.js"></script>

		{% block extra_head %}{% endblock %}
	</head>
	<body>
		{% endblock %}
		<div class = "row">
			<div class = "small-12 column">
				<ul class="breadcrumbs">
					<li><a href="/message/">Home</a></li>
					<li><a href="/message/compose/">Compose</a></li>
					<li><a href="/message/sent/">Sent</a></li>
					<li><a href="/message/inbox/">Inbox</a></li>
					<li><a href="/message/outbox/">Outbox</a></li>
				</ul>
<!--             <nav class="top-bar" data-topbar role="navigation">
                    <section class="top-bar-section">
 -->                        <!-- Right Nav Section -->
<!--                         <ul class="right"> 
                            <li>
                                <a class="right-off-canvas-toggle menu-icon"></a>
                            </li>
                        </ul>
 -->                            <!-- Left Nav Section -->
<!--                         <ul class="left">
                            <li><a href="/message/compose/">Compose</a></li>
                            <li><a href="/message/send/">Send</a></li>
                            <li><a href="/message/inbox/">Inbox</a></li>
                            <li><a href="/message/outbox/">Outbox</a></li>
                        </ul>
                    </section>
                </nav>
 -->            </div>
        </div>
        {% block content %}
        {% endblock %}

		{% block script %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/foundation.min.js"></script>
		<script>
    		$(document).foundation();
  		</script>
  		<script type="text/javascript">
		function getCookie(name)
		{
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
	 
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
		return cookieValue;
		}
	 
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
					// Only send the token to relative URLs i.e. locally.
					xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
			}
		}); 
  		</script>


			{% block extra_script %}{% endblock %}
		{% endblock %}
		
{% block foot %}
	</body>
</html>
{% endblock %}	